.header {
  position: fixed;
  top: 0px;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.08);
  width: 100vw;
  z-index: 9999999 !important;
  padding: 7px 0;
  background-color: white;

  .container {
    display: flex;
    max-width: 1128px;
    margin: 0 auto;

    @media screen and (max-width:1127px) {
      padding: 0px 20px;
    }
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    display: flex;
    align-items: center;

    img {
      object-fit: cover;
      margin-right: 10px;
    }

    ::placeholder {
      font-weight: 400;
      font-size: 15px;
    }

    .header__search {
      padding: 10px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      height: 34px;
      color: $main-gray;
      background-color: #eef3f8;

      svg {
        font-size: 19px;
        margin-left: 5px;
      }

      input {
        padding-left: 5px;
        outline: none;
        border: none;
        background: none;
        width: 235px;
      }
    }
  }

  &__right {
    display: flex;

    .header__option:not(:last-child) {
      margin-right: 20px;
    }

    .header__option {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $main-gray;
      cursor: pointer;
      min-width: 52px;

      &:hover {
        color: #000000;
        transition: 0.3s;
      }

      &-title {
        font-size: 12px;
        font-weight: 400;
      }

      &-icon {
        height: 24px !important;
        width: 24px !important;
      }

      &-dropdown {
        display: flex;
        align-items: center;
        font-size: 12px;

        h3 {
          transform: translateX(-10px);
        }


        svg {
          position: absolute;
          font-size: 1.7rem;
          transform: translateX(2px);
        }
      }
    }
  }
}